# ⛔ Node dependencies (installées dans le container)
node_modules
.nitro
.nuxt
dist
.output

# ⚙️ Fichiers de config locaux
*.env
*.env.local
*.env.*.local
!.env.example

# 🔧 IDE & système
.vscode/
.idea/
.DS_Store
Thumbs.db

# 🗑️ Logs et fichiers temporaires
npm-debug.log
yarn-error.log
*.log
*.swp