WEB_HOST=http://localhost:3000
URL_DMS=http://localhost:8080/admin
URL_API=http://localhost:8080/api
URL_CDN=http://localhost:8080
PATH_FORMAT_MEDIA=/media/cache/
PATH_DEFAULT_MEDIA=/uploads/media/files/
GOOGLE_MAPS_API_KEY=
