APP_ENV=dev
APP_DEBUG=1
APP_SECRET=change-me-for-local-development
DATABASE_URL=mysql://villa:local-development-only@127.0.0.1:3306/dms_villa_gonatouki
MAILER_DSN=smtp://localhost:1025
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=change-me-for-local-development
LOCK_DSN=flock
CORS_ALLOW_ORIGIN=^https?://localhost(:[0-9]+)?$
SENDINBLUE_API_KEY=
SENDINBLUE_LIST_NEWSLETTER_ID=0
GOOGLE_CLOUD_API_KEY=
CDN_MEDIA=http://localhost:8080
PATH_DIRECTORY_RESOURCES=public
FOLDER_IMAGES_UPLOAD=media/image
MAILER_URL=smtp://localhost:1025
MESSENGER_TRANSPORT_DSN=doctrine://default
VAR_DUMPER_SERVER=127.0.0.1:9912
