.card-popin-form-buttons {

    &__links-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        .button {
            padding: .75rem .5rem;
            line-height: 1em;

            &:first-child {
                margin-right: 10px;
            }
        }

        .button--with-svg {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: fit-content;
            text-align: left;
            transition: .3s;

            .svg-wrap {
                margin-right: 5px;
                width: auto;
                height: 22px;

                svg {
                    width: auto;
                    height: 100%;

                    fill: $color-medium-gray;
                }
            }

            //&:hover {
            //    background-color: $color-primary-darked;
            //    border-color: $color-primary-darked;
            //    color: $color-white;
            //}

            &-primary {
                background-color: $color-primary;
                border: 1px solid $color-white;
                color: $color-white;

                .svg-wrap {

                    svg {

                        fill: $color-white
                    }
                }

                &:hover {
                    background-color: $color-primary-darked;
                    border-color: $color-primary-darked;
                    color: $color-white;
                }
            }
        }
    }

}


